In [2]:
import os
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import math

In [2]:
os.listdir("../../Simstrat-Operational/Simulation/Soppensee/Results")

['V_out.dat',
 'U_out.dat',
 'T_out.dat',
 'S_out.dat',
 'num_out.dat',
 'nuh_out.dat',
 'NN_out.dat',
 'k_out.dat',
 'eps_out.dat',
 'P_out.dat',
 'B_out.dat',
 'Ps_out.dat',
 'HA_out.dat',
 'HW_out.dat',
 'HK_out.dat',
 'HV_out.dat',
 'Rad0_out.dat',
 'TotalIceH_out.dat',
 'BlackIceH_out.dat',
 'WhiteIceH_out.dat',
 'SnowH_out.dat',
 'WaterH_out.dat',
 'Qvert_out.dat',
 'simulation-snapshot.dat']

In [3]:
def simstrat_time_to_datetime(days, reference_date):
    return reference_date + timedelta(days=days)

In [4]:
reference_date = datetime(1981, 1, 1)
df = pd.read_csv("../../Simstrat-Operational/Simulation/Soppensee/Results/T_out.dat")
df["time"] = df.iloc[:,0].apply(lambda x: simstrat_time_to_datetime(x, reference_date))
df = df.set_index('time', drop=True)
df = df.drop(df.columns[0], axis=1)
df

,-27.000,-26.000,-25.000,-24.000,-23.000,-22.000,-21.000,-20.000,-19.000,-18.000,...,-9.000,-8.000,-7.000,-6.000,-5.000,-4.000,-3.000,-2.000,-1.000,-0.000
time,,,,,,,,,,,,,,,,,,,,,
2010-09-22 10:00:02.880,8.2653,8.3743,8.5196,8.6649,8.8101,8.9554,9.1007,9.2388,9.3339,9.4218,...,10.1480,10.1700,10.1930,10.2160,10.2390,10.2610,10.2840,10.3070,10.3290,10.346
2010-09-22 16:00:02.880,8.2741,8.3769,8.5210,8.6657,8.8107,8.9558,9.1010,9.2388,9.3342,9.4221,...,10.1500,10.1750,10.2000,10.2280,10.2580,10.2930,10.3370,10.3940,10.5120,10.586
2010-09-22 22:00:02.880,8.2767,8.3779,8.5216,8.6660,8.8109,8.9560,9.1012,9.2388,9.3344,9.4222,...,10.1530,10.1790,10.2080,10.2400,10.2770,10.3250,10.3900,10.4810,10.6640,10.695
2010-09-23 04:00:02.880,8.2794,8.3788,8.5221,8.6664,8.8111,8.9562,9.1013,9.2388,9.3345,9.4223,...,10.1560,10.1840,10.2150,10.2510,10.2970,10.3570,10.4420,10.5720,10.7540,10.752
2010-09-23 10:00:02.880,8.2819,8.3798,8.5227,8.6667,8.8113,8.9563,9.1015,9.2387,9.3346,9.4225,...,10.1610,10.1920,10.2290,10.2750,10.3360,10.4220,10.5490,10.7520,10.9990,11.591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-02 22:00:02.880,3.7537,3.7536,3.7533,3.7527,3.7519,3.7508,3.7495,3.7477,3.7455,3.7429,...,3.6806,3.6656,3.6480,3.6276,3.6063,3.5784,3.3204,2.1122,1.3034,0.010
2021-01-03 04:00:02.880,3.7491,3.7490,3.7487,3.7481,3.7473,3.7463,3.7450,3.7433,3.7412,3.7388,...,3.6804,3.6666,3.6501,3.6307,3.6098,3.5811,3.3193,2.1151,1.2992,0.010
2021-01-03 10:00:02.880,3.7446,3.7445,3.7442,3.7437,3.7430,3.7420,3.7407,3.7391,3.7371,3.7348,...,3.6803,3.6674,3.6521,3.6337,3.6133,3.5842,3.3193,2.1193,1.2970,0.010
2021-01-03 16:00:02.880,3.7404,3.7403,3.7400,3.7395,3.7388,3.7378,3.7366,3.7351,3.7332,3.7310,...,3.6804,3.6687,3.6547,3.6381,3.6188,3.5911,3.3262,2.1343,1.3126,0.010
2021-01-03 22:00:02.880,3.7363,3.7362,3.7359,3.7355,3.7348,3.7339,3.7327,3.7313,3.7295,3.7274,...,3.6799,3.6690,3.6561,3.6404,3.6215,3.5938,3.3266,2.1373,1.3085,0.010

In [5]:
delta.days

NameError: name 'delta' is not defined

In [6]:
delta = max(df.index) - min(df.index)
base = min(df.index).replace(hour=0, minute=0, second=0, microsecond=0)
arr = np.array([base + timedelta(days=i) for i in range(delta.days)])

In [9]:
min(df.index).year

2010

In [10]:
min(df.index)

Timestamp('2010-09-22 10:00:02.880000')

In [12]:
list(range(2010, 2021))

[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [53]:
df1 = df1.merge(df2, left_index=True, right_index=True)

In [54]:
df1

               -0.000
time
2010-09-22  10.542333
2010-09-23  11.718250
2010-09-24  11.959250
2010-09-25  11.617500
2010-09-26  11.430000
...               ...
2020-12-29   0.825365
2020-12-30   0.624105
2020-12-31   0.010000
2021-01-01   0.010000
2021-01-02   0.010000

[3756 rows x 1 columns]

In [55]:
import os

In [57]:
files = os.listdir("Q:\Messdaten\Simstrat\Simstrat")

In [58]:
folders = []
for file in files:
    if "." not in file:
        folders.append(file)

['Amsoldingersee',
 'Daubensee',
 'Greifensee',
 'Huttwilersee',
 'Inkwilersee',
 'Klontalersee',
 'LacdeJoux',
 'LacdelaGruyere',
 'LacdelHongrin',
 'LacNoir',
 'LagodiPoschiavo',
 'LagodiVogorno',
 'LagoRitom',
 'LakeAegeri',
 'LakeBaldegg',
 'LakeBiel',
 'LakeBrienz',
 'LakeCadagno',
 'LakeDavos',
 'LakeGeneva',
 'LakeHallwil',
 'LakeLauerz',
 'LakeLucerne-Alpnachersee',
 'LakeLucerne-Gersauer-andTreibbecken',
 'LakeLucerne-KreuztrichterandVitznauerbecken',
 'LakeLucerne-Urnersee',
 'LakeLungern',
 'LakeMaggiore',
 'LakeMurten',
 'LakeNeuchatel',
 'LakePfaffikon',
 'LakeSarnen',
 'LakeSempach',
 'LakeSils',
 'LakeSilvaplana',
 'LakeStMoritz',
 'LakeThun',
 'LakeZug',
 'LejdaVadret',
 'LowerLakeConstance',
 'LowerLakeLugano',
 'LowerLakeZurich',
 'Mauensee',
 'Moossee',
 'Oeschinensee',
 'Rotsee',
 'Sihlsee',
 'Soppensee',
 'Turlersee',
 'UpperLakeConstance',
 'UpperLakeLugano',
 'UpperLakeZurich',
 'Wagitalersee',
 'Walensee']

In [7]:
folder = "../data/surface_temperature"
files = os.listdir(folder)
for file in files:
    year = file.split("T_")[1].split(".json")[0]
    newname = "T_" + year + "0101" + "_" + year + "1231.json" 
    os.rename(os.path.join(folder, file), os.path.join(folder, newname))

In [8]:
os.listdir(folder)

['T_19810101_19811231.json',
 'T_19820101_19821231.json',
 'T_19830101_19831231.json',
 'T_19840101_19841231.json',
 'T_19850101_19851231.json',
 'T_19860101_19861231.json',
 'T_19870101_19871231.json',
 'T_19880101_19881231.json',
 'T_19890101_19891231.json',
 'T_19900101_19901231.json',
 'T_19910101_19911231.json',
 'T_19920101_19921231.json',
 'T_19930101_19931231.json',
 'T_19940101_19941231.json',
 'T_19950101_19951231.json',
 'T_19960101_19961231.json',
 'T_19970101_19971231.json',
 'T_19980101_19981231.json',
 'T_19990101_19991231.json',
 'T_20000101_20001231.json',
 'T_20010101_20011231.json',
 'T_20020101_20021231.json',
 'T_20030101_20031231.json',
 'T_20040101_20041231.json',
 'T_20050101_20051231.json',
 'T_20060101_20061231.json',
 'T_20070101_20071231.json',
 'T_20080101_20081231.json',
 'T_20090101_20091231.json',
 'T_20100101_20101231.json',
 'T_20110101_20111231.json',
 'T_20120101_20121231.json',
 'T_20130101_20131231.json',
 'T_20140101_20141231.json',
 'T_20150101_20151231.json',
 'T_20160101_20161231.json',
 'T_20180101_20181231.json',
 'T_20190101_20191231.json',
 'T_20200101_20201231.json',
 'T_20170101_20171231.json',
 'T_20210101_20211231.json']

In [15]:
date = "20211202"
int(date[0:4])
int(date[4:6])
int(date[6:8])

2